*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;  
  }
  body{
      background:linear-gradient(to right,#45caff,#ff1b6b);
      background-color: black;
  }
  .nav-up{
      flex-basis: 15%;
      height: 100px;
      width: 100px;
      display: flex;
  }
  .image{
      width: 180px;
  }
  .con-left
  {
      border-radius: 30px;
      margin-bottom: 10px;
      margin:10px 10px;
      display: flex;
      flex-direction: column;
      background-color: rgba(29, 2, 54,1);
      text-align: start;
      height: 95vh;
      width: 270px;
      flex-basis: 15%;
    z-index: 10000;
  }
  .nav-down{
      flex-basis: 28%;
      display: flex;
      flex-direction: column;
      height: 35vh;
      margin-left: 50px;
      
      /* justify-content: center;
      align-items: center; */
      
  
  }
  .nav-down a{
    text-decoration: none;
  }
  .nav-down li{   
    text-shadow: 5px 5px black; 
      font-size:25px;
      width: 120px;
      margin-bottom: 60px;
      color: white;
      list-style: none;
      text-align: center;
      transition: 0.5s;
  }
  .nav-down li a{
      color: #fff;
  }
  .nav-down li:hover{
      font-size: 30px;
      background-color: blueviolet;
      width: 75%;
      border-radius: 20px;
      text-shadow: 0px 0px black;
     
  }
  .list-container{
      display: flex;
      flex-direction: column;
      margin-top:30px;
  
  }
  .hline{
      border: 3px solid rgba(54, 0, 104,0.6) ;
      width: 240px;
      position: relative;
      right: 15%;
  }
  .logo{
    margin-top: 7%;
    margin-left: 15%;
      width: 200px;
      text-align: center;
      display: flex;
      align-items: center;
  }
  .nav-center {
      flex-basis: 55%;
      text-align: center;
  }
  .hero{
      /* background: linear-gradient(#ADD8E6,#4169E1,#8A2BE2); */
      /* background: linear-gradient(to right,#432818,#99582A,#FFE6A7); */
      /* background: linear-gradient(to right,#45caff,#ff1b6b); */
      height: 100vh;
      width: 100vw;
  }
  /* .heroimage{
      position: relative;
      left: 70vw;
      top: 5vh;
      height: 100px;
      width: 100px;
  } */
  .container{
      display: flex;
      height:100vh;
      padding: 5px;
      
  }
  .herotext{
      
      font-size: 20px;
      color: white;
      border: 2px solid white;
      width: 650px;
      text-align: center;
      border-radius: 15px;
  }

  .fa-solid.fa-user{
    font-size: 35px;
    position: relative;
    top: 20%;
    left: 27%;
    color: blueviolet;
  }
  .fa-solid.fa-magnifying-glass{
    font-size: 20px;
    position: relative;
    color: grey;
    top: 20%;
    right: 5%;
  }
  .SearchDiv{
      display: flex;
      flex-direction: row;
      flex-basis:5%;
      width: 88%;
      justify-content: space-between;
      padding: 20px;
      /* border-bottom: 1px solid black; */
  
  }
  .main{
      display: flex;
      flex-direction: column;
      width: 92%;
      justify-content: space-between;
  }
  .SearchDiv input{
      width: 200px;
      flex-basis: 35%;
      height: 50px;
      display: flex;
      justify-content: space-between;
      border-radius: 10px;
     
      
  }
  .sign{
    height: 10vh;
    width: 5vw;
    position: relative;
    left: 13%;
    border-radius: 50%;
    background-color: white;
}
  .mainUI{
      display: flex;
      flex-basis: 90%;
      margin-top: -40px;
  }
  
  .para-title{
      flex-basis: 15%;
  }
  .para-title p{
    /* color: rgba(29, 2, 54,1); */
    color: #45caff;
      font-size:35px;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
      text-shadow: 2px 2px black;
      width: 500px;
      font-weight: 500;
  }
  .para-title h4{
    color: #ff1b6b;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* color: rgba(29, 2, 54,1); */
      font-size: 35px;
      text-shadow: 2px 2px black;
  }
  .icon_1{
    margin-right: 20px;
}

.sign{
    height: 10vh;
    width: 5vw;
    position: relative;
    left: 13%;
    border-radius: 50%;
    background-color: white;
}  


/* --------------------GraphBox Middle--------------------- */
.graphbox{
    background-color: rgba(29, 2, 54,1);
    width: 70vw;
    margin-bottom: 20px;
    height: 75vh;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
}
.graph_h1{
    margin-bottom: 20px;
    text-align: center;
    font-size: 50px;
    color: #45caff;
    text-shadow: 5px 5px black;
}
.graphul{
    display: flex;
}
.graphul li{
    /* margin-left: 20px; */
    text-align: center  ;
    list-style: none;
    font-size: 35px;
    color: white;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.icon{
    margin-right: 20px;
}
.main_border{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}
.border{
    margin-top: 20px;
    /* opacity: 0.5; */
    height: 100px;
    width: 0.1px;
    border: 2px solid white;
}
.graph_h4{
    color: white;
    width: 140px;
    position: relative;
    top: 110px;
    right: 50px;
}
/* ---------------------------------------------------------- */