*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;  
  }
  body{
      background:linear-gradient(to right,#45caff,#ff1b6b);
      background-color: black;
  }
  .nav-up{
      flex-basis: 15%;
      height: 100px;
      width: 100px;
      display: flex;
  }
  .image{
      width: 180px;
  }
  .con-left
  {
      border-radius: 30px;
      margin-bottom: 10px;
      margin:10px 10px;
      display: flex;
      flex-direction: column;
      background-color: rgba(29, 2, 54,1);
      text-align: start;
      height: 95vh;
      width: 270px;
      flex-basis: 15%;
    z-index: 10000;
  }
  .nav-down{
      flex-basis: 28%;
      display: flex;
      flex-direction: column;
      height: 35vh;
      margin-left: 50px;
      
      /* justify-content: center;
      align-items: center; */
      
  
  }
  .nav-down a{
    text-decoration: none;
  }
  .nav-down li{   
    text-shadow: 5px 5px black; 
      font-size:25px;
      width: 120px;
      margin-bottom: 60px;
      color: white;
      list-style: none;
      text-align: center;
      transition: 0.5s;
  }
  .nav-down li a{
      color: #fff;
  }
  .nav-down li:hover{
      font-size: 30px;
      background-color: blueviolet;
      width: 75%;
      border-radius: 20px;
      text-shadow: 0px 0px black;
     
  }
  .list-container{
      display: flex;
      flex-direction: column;
      margin-top:30px;
  
  }
  .hline{
      border: 3px solid rgba(54, 0, 104,0.6) ;
      width: 240px;
      position: relative;
      right: 15%;
  }
  .logo{
    margin-top: 7%;
    margin-left: 15%;
      width: 200px;
      text-align: center;
      display: flex;
      align-items: center;
  }
  .nav-center {
      flex-basis: 55%;
      text-align: center;
  }
  .hero{
      /* background: linear-gradient(#ADD8E6,#4169E1,#8A2BE2); */
      /* background: linear-gradient(to right,#432818,#99582A,#FFE6A7); */
      /* background: linear-gradient(to right,#45caff,#ff1b6b); */
      height: 100vh;
      width: 100vw;
  }
  /* .heroimage{
      position: relative;
      left: 70vw;
      top: 5vh;
      height: 100px;
      width: 100px;
  } */
  .container{
      display: flex;
      height:100vh;
      padding: 5px;
      
  }
  .herotext{
      
      font-size: 20px;
      color: white;
      border: 2px solid white;
      width: 650px;
      text-align: center;
      border-radius: 15px;
  }

  .fa-solid.fa-user{
    font-size: 35px;
    position: relative;
    top: 20%;
    left: 27%;
  }
  .fa-solid.fa-magnifying-glass{
    font-size: 25px;
    position: relative;
    /* bottom: vh; */
    top: 14%;
    right: 4.6%;
    color: grey;
  }
  .SearchDiv{
      display: flex;
      flex-direction: row;
      flex-basis:5%;
      width: 88%;
      justify-content: space-between;
      padding: 20px;
      /* border-bottom: 1px solid black; */
  
  }
  .main{
      display: flex;
      flex-direction: column;
      width: 92%;
      justify-content: space-between;
  }
  .SearchDiv input{
      width: 200px;
      flex-basis: 35%;
      height: 50px;
      display: flex;
      justify-content: space-between;
      border-radius: 10px;
     
      
  }

  .sign{
    height: 10vh;
    width: 5vw;
    position: relative;
    left: 13%;
    border-radius: 50%;
    background-color: white;
}
  .mainUI{
      display: flex;
      flex-basis: 90%;
      margin-top: -40px;
  }
  
  .para-title{
      flex-basis: 15%;
  }
  .para-title p{
   /* color: rgba(29, 2, 54,1); */
   color: #45caff;
   font-size:35px;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
   text-shadow: 2px 2px black;
   width: 500px;
   font-weight: 500;
  }
  .para-title h4{
    color: #ff1b6b;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* color: rgba(29, 2, 54,1); */
      font-size: 35px;
      text-shadow: 2px 2px black;
  }
    
  .icon_1{
    margin-right: 20px;
}













.imgdiv{
    display: flex;
    width: 200px;
    

}
.imgdiv span{
    flex-basis: 20%;
}
.gallery{
    width: 50vw;
    /* height: 50vh; */
    display: flex;
    overflow-x: scroll;
    position:relative;
    left: 14rem;
    top: 7rem;
    /* bottom: 20px; */
}
.gallery div{
    width:100%;
    /* display: grid; 
    grid-template-columns: auto auto auto; 
    grid-gap: 20px; */
    padding: 1vh;
    flex: none;

}
.gallery div img{
    /* border-radius: 50%; */
    width: 20vh;
    margin-right: 1.5rem;
    filter: grayscale(100); 
    transition: transform 0.5s;
}
.gallery::-webkit-scrollbar{
    display:none;
}
.gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
    width: 95%;
    margin-left: -4vh;
}
#backBtn, #nextBtn{
    
    width:50px;
    cursor:pointer;
    /* margin:40px; */
    position: relative;
    bottom: 20px;
    top: 7rem;
}
#backBtn{
    margin-right: -0.5rem;
    position: relative;
    left: 13rem;
    bottom: 0.5rem;
}
#nextBtn{
    position: relative;
    left: 13.8rem;
    bottom: 0.5rem;
}
/* .imgNames{
    margin-left: 0.7rem;
} */
.gallery div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1,1.1);
    transition: 0.5s;

}
.fa-solid.fa-user{
    font-size: 38px;
    color: blueviolet;
}


















  /*  RAJESH ONLY NO ONE ENTER HERE */
  /* .upperbox{
    display: flex;
    justify-content: right;
    align-items:top;
    border-radius:15px ;
    width: 100%;
    height: 48%;
    background-color: rgb(29, 2, 54);
    background: url(speed.png);
    background-size:500px;
}
.lowerbox{
    border-radius: 15px;
    width: 100%;
    height: 48%;
    background-color: rgb(29, 2, 54);
}
.con-right{
    padding:24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

/* EXIT */










  /* .con-right-right{
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      background-color: rgba(29, 2, 54,0);
      border-radius: 15px;
      margin-top: 35px;
      height: 92%;
      flex-basis: 13%;
      margin-right: 20px;
      padding: 20px;
      
  
  }
  .firstBall{
      background-color: red;
      width: 160px;
      border-radius: 50%;
      height: 160px;
  }
  .secondBall{
      background-color: yellow;
      width: 160px;
      border-radius: 50%;
      height: 160px;
  }
  .thirdBall{
      background-color: white;
      width: 160px;
      border-radius: 50%;
      height: 160px;
  }
  .fourthball{
      background-color: rgba(138, 14, 255, 1);
      display: flex;
      width: 200px;
      height: 200px;
      margin-right: 80px;
  }
  .f-1ball{
      background-color: blue;
      top: 50px;
      left:35px
  }
  .f-2ball{
      background-color: white;
      right: 5px;
      
  }
  .f-3ball{
      background-color: black;
      top: 50px;
      right:35px
  }
  .ball{
      width:120px;
      height: 95px;
      position: relative;
      border-radius: 50%;
  }
  a{
      text-decoration: none;
  }
  .Bigball{
      width: 160px;
      height: 160px;
      
  } */









/* 

  body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
} */